header{
    border: 5px solid black;
    width: 92%;
    height: 25%;
    position: relative;
    left: 3%;
}

.div1{
    margin:unset;
    margin-left:2%;
    margin-top:5%;
    height: 73%;
    width: 6%;
    background-color: rgb(73, 5, 73);
}

.div2{
    margin-left: 14%;
    margin-top: -21%;
    height: 90%;
    width: 45%;
    background-color:rgb(3, 85, 3);
}

.div3{
    height:80%;
    width: 20%;
    border-radius: 50%;
    background-color: rgb(63, 189, 228);
    
}