body{
    margin:0px;
    background-color:rgb(219, 219, 219);
    width:100vw;
    height:100vh;

}

.header{
    margin: 0px;
    height:20vh ;
    width: 100%;
    background-color:rgb(109, 109, 109);
}

.main-content{
    position: relative;
    left: 12%;
    margin:0px;
    background-color: white;
    height:65vh ;
    width:75% ;
}

.footer{
    position: relative;
    left: 12%;
    margin: 0px;
    height:10vh;
    width:75% ;
    background-color: rgb(77, 77, 77);
}