*{
    margin: 0;
    border:0
}

header{
    height: 15vh;
    background-color: rgba(61, 60, 60, 0.986);
}

div{
    height: 100vh;
    width: 100vw;
}

.aside1{
    height:75vh;
    width:15vw;
    background-color: lightgrey;
    align:right;

}


.aside2{
    height:75vh;
    width:15vw;
    background-color: lightgrey;
    left:20px;
}

footer{
    height: 10vh;
    background-color: rgb(24, 24, 24);
}